extends layout.pug

block content
    if errors
      ul.list-group
        p The following errors were found:
        each error in errors
          li.list-group-item #{error}
    form(method="post" action="/create")
        label(for="_csrf")
        input.form-control(type="hidden" name="_csrf" value=csrfToken)
        label(for="firstName") First Name
        input.form-control(type="text" id="firstName" name="firstName" value=firstName)
        label(for="lastName") Last Name
        input.form-control(type="text" id="lastName" name="lastName" value=lastName)
        label(for="email") Email
        input.form-control(type="email" id="email" name="email" value=email)
        label(for="password") Password
        input.form-control(type="password" id="password" name="password" value=password)
        label(for="confirmedPassword") Verify Password
        input.form-control(type="password" id="confirmedPassword" name="confirmedPassword" value=confirmedPassword)
        p
        input.btn-primary(type="submit" value="Create User")
